.*
!.gitignore



/CharDrivers/*
/CharDrivers/UserApp/*
/CharDrivers/*.c
!/CharDrivers/UserApp
!/CharDrivers/UserApp/*.c
!/CharDrivers/Makefile
!/CharDrivers/*.sh
/CharDrivers/*.mod.c

/USB/*
!/USB/*.c
!/USB/Makefile
/USB/*.mod.c

/misc-modules/*
!/misc-modules/*.c
!/misc-modules/Makefile
/misc-modules/*.mod.c
